// Here you can add other styles
ul li {
 list-style: none;
}
.w-45 {
  width: 45%;
}
.w-48 {
  width: 48%;
}
.b-shadow {
  box-shadow: 0 0 4px 0px #515151;
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-overflow {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 28px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  word-break: break-word;
  -webkit-box-orient: vertical;
}
