.wrapper {
  width: 100%;
  @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
  will-change: auto;
  @include transition(padding .15s);
}

.container-lg {
  margin-bottom: 15px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
